/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

#images-list {
    padding: 0;
}

#images-list li {
    display: inline-block;
    margin-bottom: 20px;
}

.images-list-image-container {
    max-width: 448px;
    max-height: 600px;
    /*aspect-ratio: 448/600;*/
    cursor: pointer;
}

.images-list-image-container img {
    width: 100%;
    border: 1px solid #fe9c00; /* Yellowish border around images */
}

.converted-img {
    transform: rotate(90deg);
}


/* CSS for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4a2700f0;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

.overlay button.overlay-close {
    position: relative;
    float: right;
    z-index: 9999;
    margin: 10px 20px 0 0;
}

.overlay-image-container {
    max-width: 90%;
    max-height: 90%;
}

#overlay-image {
    max-width: 100%;
    display: block;
    margin: 100px auto 0 auto;
    /*max-height: 100%;
    transform-origin: center center;
    position: relative;
    pointer-events: none;                                     */
}

.overlay-rectangle {
    position: absolute;
    border: 2px solid red;
    width: 0;
    height: 0;
    box-sizing: border-box;
}

.overlay-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.overlay-editor-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.overlay button {
    margin: 0 5px;
    padding: 5px 10px;
}